.create-account{
        width: 417px;
        height: 80px;
        color: #fff;
        background: #65C655;
        border-radius: 16px;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        cursor: pointer;
        border: none;
}



        .container-modal{
                position: relative;
                z-index: 20;
        }
        .modal-auth {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
      }
      
      .modal-auth-container  {
        position: absolute;
        width: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      
      .modal-input {
        width: 70%;
        height: 58px;
        border: 1px solid #65c655;
        border-radius: 12px;
        outline: none;
        padding-left: 45px;
        font-size: 18px;
        margin: 10px 0 10px 0;
      }
      
      .modal-input::placeholder {
        color: #000000;
        font-weight: 400;
      }
      
      .close-modal {
        position: absolute;
        right: 15px;
        top: 15px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      
      .modal-reg-btn {
        background: #65c655;
        border-radius: 14px;
        color: #fff;
        font-weight: 400;
        font-size: 21px;
        height: 58px;
        width: 70%;
        outline: none;
        border: none;
        cursor: pointer;
        margin: 10px 0 10px 0;
      }
      
      .account-auth {
        border-bottom: 1px solid #09be3c;
        color: #09be3c;
        font-weight: 400;
        font-size: 21px;
      }
      
      .modal-auth-title h3 {
        margin-top: 50px;
        font-weight: 400;
        font-size: 32px;
      }
      
      .modal-mail-group {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      
      
      .auth-block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;
      }
      
      .auth-block h3 {
        font-weight: 300;
        font-size: 20px;
      }
      
      .auth-block-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .auth-block-icon a {
        width: 100%;
        margin: 10px 30px 10px 30px;
      }
      