
.search-container {
    position: relative;
    margin: 0px 110px 0px 110px;
  }
  
  .search-input {
    display: block;
    width: 100%;
    height: 56px;
    background-color: #F6F6F6;
    border-radius: 16px;
    border: none;
    outline: none;
    font-size: 25px;
    padding-left: 45px;
    /* background-image: url(../../../assets/icons/search-icon.svg) no-repeat;
    background-position: center left;
    background-size: auto 45%; */
    line-height: 30px;
  }

  

