.nav-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 300px;
  margin-right: 50px;
}
.nav-block-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-block-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 76px;
  height: 34px;
  margin-left: 30px;
}
.nav-block-img img {
  cursor: pointer;
  margin: 4px;
}
